<div class="min-h-screen bg-black text-white fade-in">
  <!-- Loading State -->
  <div *ngIf="loading" class="text-center p-8">
    <p class="text-xl font-semibold text-white">Loading your contributions...</p>
  </div>

  <!-- Error State -->
  <div *ngIf="error" class="text-center p-8 bg-red-700 border border-red-800 rounded-lg">
    <p class="text-lg font-medium">{{ error }}</p>
  </div>

  <!-- Content State -->
  <div *ngIf="!loading && !error" class="p-8">
    <h2 class="text-3xl font-bold mb-6 text-center">My Contributions</h2>
    <div class="grid grid-cols-1 gap-6 mt-10">
      <div class="text-xl text-center mt-12 font-semibold text-gray-600" *ngIf="products.length === 0">You have not contributed anything yet</div>
      <div *ngFor="let product of products" class="bg-black rounded-lg flex relative">
        <!-- Product Image -->
        <img [src]="product.imageUrl" alt="{{ product.name }}" class="h-56 rounded-lg" *ngIf="!product.editing">
        
        <!-- Product Details and Buttons -->
        <div class="p-6 flex-grow flex flex-col justify-between">
          <!-- Editable Product Details -->
          <div *ngIf="product.editing" class="gap-6">
            <input [(ngModel)]="product.name" class="w-11/12 text-2xl font-semibold mb-2 bg-gray-400 text-gray-900 rounded-lg p-2">
            <textarea [(ngModel)]="product.description" class="w-11/12 bg-gray-400 text-gray-900 rounded-lg p-2 mb-2"></textarea>
            <input [(ngModel)]="product.technologies" class="w-11/12 bg-gray-400 text-gray-900 rounded-lg p-2">
          </div>

          <!-- Non-editable Product Details -->
          <div *ngIf="!product.editing">
            <h3 class="text-2xl font-semibold mb-2">{{ product.name }}</h3>
            <p class="text-gray-300 text-xl mb-2">{{ product.description }}</p>
            <p class="text-gray-300 font-bold">Technologies used: <span class="text-gray-400 font-bold">{{product.technologies}}</span></p>
          </div>

          <!-- Buttons -->
          <div class="flex space-x-4 mt-4">

            
            <!-- Save Button -->
            <button *ngIf="product.editing" (click)="saveEdit(product)" 
              class="mt-10 inline-flex items-center px-2 py-1 bg-green-800 text-white font-semibold rounded-full shadow-md hover:bg-green-700 transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2">
              <i class="fas fa-save mr-2"></i>
              Save
            </button>
            
            <!-- Cancel Button -->
            <button *ngIf="product.editing" (click)="cancelEdit(product)" 
              class="mt-10 inline-flex items-center px-2 py-1 bg-gray-900 text-white font-semibold rounded-full shadow-md hover:bg-gray-800 transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
              <i class="fas fa-times mr-2"></i>
              Cancel
            </button>

            <!-- View on GitHub Button -->
            <a *ngIf="!product.editing" [href]="product.detailsUrl" target="_blank" 
              class="inline-flex items-center px-2 py-1 bg-gray-900 text-white font-semibold rounded-full shadow-md hover:bg-gray-600 transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
              <i class="fab fa-github mr-2"></i>
              GitHub
            </a>

            <!-- Visit Site Button -->
            <a *ngIf="!product.editing" [href]="product.pageUrl" target="_blank" 
              class="inline-flex items-center px-2 py-1 bg-purple-900 text-white font-semibold rounded-full shadow-md hover:bg-purple-600 transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-offset-2">
              <i class="fas fa-rocket mr-2"></i>
              Visit!
            </a>
            <!-- Edit Button -->
            <button *ngIf="!product.editing" (click)="enableEdit(product)" 
              class="inline-flex items-center px-2 py-1 bg-green-900 text-white font-semibold rounded-full shadow-md hover:bg-green-800 transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
              <i class="fas fa-edit mr-2"></i>
              Edit
            </button>
            
          </div>
        </div>

        <!-- Delete Button -->
        <button (click)="deleteProduct(product.id)" 
          class="absolute right-6 top-1/2 transform -translate-y-1/2 px-4 py-2 bg-red-800 text-white font-semibold rounded-full shadow-md hover:bg-red-700 transition duration-300 ease-in-out transform hover:scale-125 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
