<header class="flex items-center justify-between p-4 bg-white text-black">
  <!-- Logo and Title -->
  <div class="flex gap-2 items-center">
    <img src="assets/logo.svg" alt="Logo" class="h-16 hidden md:block">
    <h1 class="text-4xl">Portfolio.io</h1>
  </div>

  <!-- Hamburger Menu Button (Mobile) -->
  <div class="md:hidden">
    <button (click)="toggleMenu()" class="text-black focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>
  </div>

  <!-- Desktop Navigation Links -->
  <nav class="hidden md:flex items-center gap-12">
    <a routerLink="/home" routerLinkActive="active" class="hover:text-gray-400">Home</a>
    <a routerLink="/about" routerLinkActive="active" class="hover:text-gray-400">About</a>
    <!-- <a routerLink="/contact" routerLinkActive="active" class="hover:text-gray-400">Contact Us</a> -->
    <a *ngIf="(isAuthenticated$ | async)" routerLink="/favorites" routerLinkActive="active" class="hover:text-gray-400">♡</a>
    <button *ngIf="!(isAuthenticated$ | async)" routerLink="/signup" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
        Sign Up
      </span>
    </button>
    <button *ngIf="!(isAuthenticated$ | async)" routerLink="/login" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white text-black rounded-md group-hover:bg-opacity-0">
        Login
      </span>
    </button>
    <button *ngIf="isAuthenticated$ | async" (click)="onLogout()" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white text-black rounded-md group-hover:bg-opacity-0">
        Logout
      </span>
    </button>
  </nav>
</header>

<!-- Mobile Navigation Menu -->
<div [ngClass]="{'block': isOpen, 'hidden': !isOpen}" class="md:hidden">
  <nav class="flex flex-col items-center space-y-4 mt-4 bg-white py-4 rounded-lg shadow-lg">
    <a routerLink="/home" routerLinkActive="active" class="hover:text-gray-400">Home</a>
    <a routerLink="/about" routerLinkActive="active" class="hover:text-gray-400">About</a>
    <!-- <a routerLink="/contact" routerLinkActive="active" class="hover:text-gray-400">Contact Us</a> -->
    <a routerLink="/favorites" routerLinkActive="active" class="hover:text-gray-400">♡</a>
    <button *ngIf="!(isAuthenticated$ | async)" routerLink="/signup" class="relative inline-flex items-center justify-center p-0.5 mb-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
        Sign Up
      </span>
    </button>
    <button *ngIf="!(isAuthenticated$ | async)" routerLink="/login" class="relative inline-flex items-center justify-center p-0.5 mb-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white text-black rounded-md group-hover:bg-opacity-0">
        Login
      </span>
    </button>
    <button *ngIf="isAuthenticated$ | async" (click)="onLogout()" class="relative inline-flex items-center justify-center p-0.5 mb-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white text-black rounded-md group-hover:bg-opacity-0">
        Logout
      </span>
    </button>
  </nav>
</div>
