<header class="flex items-center justify-between p-4 bg-black bg-opacity-100 text-white">
  <!-- Logo and Title -->
  <div class="flex gap-2 items-center">
    <img src="assets/logo.svg" alt="Logo" class="h-16 hidden md:block transition-transform duration-300 hover:scale-105">
    <h1 class="text-4xl">Portfolio.io</h1>
  </div>

  <!-- Hamburger Menu Button (Mobile) -->
  <div class="md:hidden">
    <button (click)="toggleMenu()" class="text-white focus:outline-none transition-transform duration-300 hover:scale-110">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
      </svg>
    </button>
  </div>

  <!-- Desktop Navigation Links -->
  <nav class="hidden md:flex items-center gap-12">
    <a routerLink="/home" routerLinkActive="active" class="hover:text-gray-400 hover:scale-110 transition-transform duration-300">Home</a>
    <a routerLink="/about" routerLinkActive="active" class="hover:text-gray-400 hover:scale-110 transition-transform duration-300">About</a>
    <a *ngIf="(isAuthenticated$ | async)" routerLink="/all-template" routerLinkActive="active" class="hover:text-gray-400 hover:scale-110 transition-transform duration-300">Portfolios</a>

    <button *ngIf="(isAuthenticated$ | async)" routerLink="/favorites" class="relative flex items-center justify-center w-9 h-9 rounded-full bg-red-700 text-white shadow-md hover:bg-red-600 transition-transform duration-300 hover:scale-95">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" clip-rule="evenodd"/>
      </svg>
    </button>

    <!-- Username Button (Desktop) -->
    <div *ngIf="isAuthenticated$ | async; else guestOptions" class="relative">
      <button (click)="toggleDropdown($event)" class="flex items-center p-2 rounded-full bg-black bg-opacity-20 text-white hover:bg-gray-900 focus:outline-none transition-transform duration-300 hover:scale-105">
        <span class="text-lg font-semibold">{{ username ? username : 'User' }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 w-4 h-4 text-gray-300" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
        </svg>
      </button>

      <!-- Dropdown Menu -->
      <div *ngIf="isDropdownOpen" class="absolute right-0 mt-2 w-48 bg-black bg-opacity-90 rounded-lg shadow-lg z-20 border border-gray-700">
        <button routerLink="/my-contributions" class="w-full text-left px-4 py-2 text-sm text-white hover:bg-gray-700 rounded-t-lg transition-transform duration-150 hover:scale-100">My Contribuitons</button>
        <button (click)="onLogout()" class="w-full text-left px-4 py-2 text-sm text-white hover:bg-gray-700 rounded-b-lg transition-transform duration-150 hover:scale-100">Logout</button>
      </div>
    </div>

    <ng-template #guestOptions>
      <button routerLink="/auth/signup" class="relative inline-flex items-center justify-center p-0.5 mb-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-300 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0 hover:scale-95">
          Sign Up
        </span>
      </button>
      <button routerLink="/auth/login" class="relative inline-flex items-center justify-center p-0.5 mb-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-300 bg-white text-black rounded-md group-hover:bg-opacity-0 hover:scale-95">
          Login
        </span>
      </button>
    </ng-template>
  </nav>
</header>

<!-- Mobile Navigation Menu -->
<div [ngClass]="{'block': isOpen, 'hidden': !isOpen}" class="md:hidden">
  <nav class="flex flex-col items-center space-y-4 mt-4 bg-white py-4 rounded-lg shadow-lg">
    <a routerLink="/home" routerLinkActive="active" class="hover:text-gray-400 hover:scale-105 transition-transform duration-300">Home</a>
    <a routerLink="/about" routerLinkActive="active" class="hover:text-gray-400 hover:scale-105 transition-transform duration-300">About</a>
    <button *ngIf="(isAuthenticated$ | async)" routerLink="/favorites" class="relative flex items-center justify-center w-10 h-10 rounded-full bg-red-500 text-white shadow-md hover:bg-red-600 transition-transform duration-300 hover:scale-105">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" clip-rule="evenodd"/>
      </svg>
    </button>

    <div *ngIf="isAuthenticated$ | async" class="relative">
      <button (click)="toggleDropdown($event)" class="relative inline-flex items-center justify-center p-0.5 mb-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-300 bg-white text-black rounded-md group-hover:bg-opacity-0 hover:scale-105">
          {{ username ? username : 'User' }}
        </span>
      </button>

      <!-- Dropdown Menu -->
      <div *ngIf="isDropdownOpen" class="absolute right-0 mt-2 w-48 bg-black bg-opacity-90 rounded-lg shadow-lg z-20 border border-gray-700">
        <button (click)="settingsTemp()" routerLink="/settings" class="block px-4 py-2 text-sm text-white hover:bg-gray-700 rounded-t-lg transition-transform duration-150 hover:scale-95">My Contributions</button>
        <button (click)="onLogout()" class="w-full text-left px-4 py-2 text-sm text-white hover:bg-gray-700 rounded-b-lg transition-transform duration-150 hover:scale-95">Logout</button>
      </div>
    </div>
  </nav>
</div>
