<div class="relative min-h-screen bg-black text-white" (mousemove)="onMouseMove($event)">
  <!-- Background Image Container -->
  <div class="absolute inset-0 flex items-center justify-center">
    <!-- Smaller Background Image -->
    <img src="assets/logo.svg" alt="Logo" class="object-cover opacity-20" style="width: 40%; height: auto;" [ngStyle]="{'transform': transformStyle}">
  </div>

  <!-- Overlay Content -->
  <div class="flex flex-col items-center justify-center min-h-screen relative z-10 p-8 text-center">
    <h1 class="text-5xl font-extrabold text-white mb-4 fade-in">Welcome to portfolio.io,<br> {{ username ? username : 'User' }}</h1>
    <p class="text-xl text-white mb-8">Discover and choose the perfect template to showcase your work.</p>
    <div class="flex flex-wrap justify-center gap-6">
      <a (click)="scrollTop()" routerLink="/explore" class="bg-gradient-to-r from-blue-500 to-blue-700 text-white py-3 px-8 rounded-full shadow-lg hover:from-blue-600 hover:to-blue-800 transition duration-300 ease-in-out text-lg font-semibold transform hover:scale-105">
        Explore Templates
      </a>
      <a routerLink="/about" class="bg-gradient-to-r from-gray-800 to-gray-900 text-white py-3 px-8 rounded-full shadow-lg hover:from-gray-700 hover:to-gray-800 transition duration-300 ease-in-out text-lg font-semibold transform hover:scale-105">
        Learn More
      </a>
    </div>
  </div>
</div>

<!-- Step Sections -->
<section class="step-section text-white text-center" id="step1">
  <h2 class="text-4xl font-bold">1. Choose Your Template</h2>
  <p class="text-2xl p-10 px-32">Explore our curated collection of elegant and sophisticated templates designed to elevate your portfolio. Select the perfect template to embark on your journey of creating a standout professional portfolio.</p>
</section>
<section class="step-section text-white text-center" id="step2">
  <h2 class="text-4xl font-bold">2. Customize Your Portfolio</h2>
  <p class="text-lg">Personalize your chosen template with your content.</p>
</section>
<section class="step-section text-white text-center" id="step3">
  <h2 class="text-4xl font-bold">3. Publish and Share</h2>
  <p class="text-lg">Publish your portfolio and share it with the world.</p>
</section>
