<div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-indigo-200 via-purple-200 to-pink-200 p-4">
  <div class="bg-white p-8 rounded-xl shadow-lg w-full max-w-sm">
    <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-5">
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input 
          id="email" 
          formControlName="email" 
          type="email" 
          class="mt-1 block w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          placeholder="Enter your email" 
        />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-600 text-xs mt-1">
          Valid email is required.
        </div>
      </div>

      <div class="mb-5">
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <input 
          id="password" 
          formControlName="password" 
          type="password" 
          class="mt-1 block w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          placeholder="Enter your password" 
        />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-600 text-xs mt-1">
          Password is required.
        </div>
      </div>

      <button 
        type="submit" 
        class="w-full bg-purple-600 text-white p-3 rounded-lg font-semibold shadow-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 transition duration-300 ease-in-out"
      >
        Login
      </button>

      <div class="mt-4 text-center">
        <span class="text-gray-800 text-sm">or</span>
      </div>

      <button 
        (click)="googleLogin()" 
        type="button" 
        class="mt-4 w-full bg-red-500 hover:bg-red-600 text-white font-medium p-3 rounded-lg shadow-md flex items-center justify-center transition duration-300 ease-in-out"
      >
        <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
          <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
        </svg>
        Login with Google
      </button>
    </form>
  </div>
</div>
