
/* Add styles for the overlay and modal */
.fixed {
    position: fixed;
  }
  .bg-opacity-50 {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .zoom-in {
    animation: zoomIn 0.3s ease-out;
  }
/* 
  body{
    cursor: pointer;
  } */