<div *ngIf="product" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-black text-white p-6 rounded-lg shadow-lg mx-auto relative max-w-4xl zoom-in">
    <!-- Close Button -->
    <button (click)="close()" class="absolute top-2 right-2 w-6 h-6 bg-red-600 text-white rounded-full flex items-center justify-center shadow-lg hover:bg-red-700 focus:outline-none hover:scale-95">
      <span class="text-2xl leading-none">&times;</span>
    </button>
    
    <!-- Product Image -->
    <img [src]="product.imageUrl" [alt]="product.name" class="w-full h-80 object-cover mb-4 rounded-lg shadow-md">
    
    <!-- Product Details -->
    <h2 class="text-2xl font-semibold text-gray-100 mb-2">{{ product.name }}</h2>
    <p class="text-gray-200 mb-4 max-h-24 overflow-auto">
      {{ product.description }}
    </p>
    <p class="text-gray-200 mb-4 max-h-24 overflow-auto">
      Technologies used : <span class="text-gray-400">{{ product.technologies }}</span>
    </p>
    
    <!-- Button Section -->
    <div class="flex items-center space-x-4">
      <!-- View on GitHub Button -->
      <a [href]="product.detailsUrl" target="_blank" 
        class="inline-flex items-center px-2 py-1 bg-gray-900 text-white font-semibold rounded-full shadow-md hover:bg-gray-800 transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">
        <i class="fab fa-github mr-2"></i>
        GitHub
      </a>

      <!-- Visit Site Button -->
      <a [href]="product.pageUrl" target="_blank" 
        class="inline-flex items-center px-2 py-1 bg-violet-950 text-white font-semibold rounded-full shadow-md hover:bg-violet-900 transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:ring-offset-2">
        <i class="fas fa-rocket mr-2"></i>
        Visit!
      </a>
      
      <!-- Favorites Button -->
      <button *ngIf="(isAuthenticated$|async)" (click)="toggleFavorite()" class="focus:outline-none">
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          viewBox="0 0 24 24" 
          fill="currentColor" 
          class="w-8 h-8 transition-colors duration-300 ease-in-out hover:scale-105"
          [ngClass]="product.isFavorite ? 'text-red-600' : 'text-gray-400'">
          <path 
            fill-rule="evenodd" 
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" 
            clip-rule="evenodd"/>
        </svg>
      </button>
    </div>
  </div>
</div>
