<!-- Modal Overlay -->
<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50" *ngIf="(modalState$ | async) === 'login'">
  <!-- Modal Content -->
  <div class="bg-gray-800 p-8 rounded-xl shadow-lg w-full max-w-sm relative">
    <!-- Close Button -->
    <button 
      class="absolute top-4 right-4 text-gray-400 hover:text-white transition duration-300 ease-in-out"
      (click)="close()"
    >
      ✕
    </button>
    
    <!-- Modal Title -->
    <h2 class="text-2xl font-bold mb-6 text-center text-gray-200">Login</h2>
    
    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email Field -->
      <div class="mb-5">
        <label for="email" class="block text-sm font-medium text-gray-300">Email</label>
        <input 
          id="email" 
          formControlName="email" 
          type="email" 
          class="mt-1 block w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          placeholder="Enter your email" 
        />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-600 text-xs mt-1">
          Valid email is required.
        </div>
      </div>

      <!-- Password Field -->
      <div class="mb-5">
        <label for="password" class="block text-sm font-medium text-gray-300">Password</label>
        <input 
          id="password" 
          formControlName="password" 
          type="password" 
          class="mt-1 block w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-purple-500 focus:border-purple-500 sm:text-sm"
          placeholder="Enter your password" 
        />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-600 text-xs mt-1">
          Password is required.
        </div>
      </div>

      <!-- Submit Button -->
      <button 
        type="submit" 
        class="w-full bg-purple-900 text-white p-3 rounded-lg font-semibold shadow-md hover:bg-purple-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 transition duration-300 ease-in-out hover:scale-95"
      >
        Login
      </button>

      <!-- Divider -->
      <div class="mt-4 text-center">
        <span class="text-gray-200 text-sm">or</span>
      </div>

      <!-- Google Login Button -->
      <button 
        (click)="googleLogin()" 
        type="button" 
        class="mt-4 w-full bg-red-900 hover:bg-red-800 text-white font-medium p-3 rounded-lg shadow-md flex items-center justify-center transition duration-300 ease-in-out hover:scale-95"
      >
        <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 19">
          <path fill-rule="evenodd" d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z" clip-rule="evenodd"/>
        </svg>
        Login with Google
      </button>
    </form>
  </div>
</div>
