<div class="min-h-screen bg-white p-8">
  <!-- Header with filter options and upload button -->
  <header class="bg-white bg-opacity-20 p-4 mb-6 rounded-lg">
    <div class="max-w-6xl mx-auto flex items-center justify-between">
      <!-- Button group for filter options -->
      <div class="flex-1 flex justify-center">
        <div class="inline-flex rounded-md shadow-sm" role="group">
          <button (click)="filterProducts('all')" type="button" 
                  class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700"
                  [class.bg-blue-500]="selectedFilter === 'all'" 
                  [class.text-white]="selectedFilter === 'all'">
            All
          </button>
          <button (click)="filterProducts('angular')" type="button" 
                  class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700"
                  [class.bg-blue-500]="selectedFilter === 'angular'" 
                  [class.text-white]="selectedFilter === 'angular'">
            Angular
          </button>
          <button (click)="filterProducts('react')" type="button" 
                  class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700"
                  [class.bg-blue-500]="selectedFilter === 'react'" 
                  [class.text-white]="selectedFilter === 'react'">
            React
          </button>
          <button (click)="filterProducts('html')" type="button" 
                  class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700"
                  [class.bg-blue-500]="selectedFilter === 'html'" 
                  [class.text-white]="selectedFilter === 'html'">
            HTML
          </button>
        </div>
      </div>

      <!-- Upload button -->
      <button 
        (click)="uploadWarning()"
        routerLink="/upload" 
        class="flex items-center px-3 py-2 bg-gradient-to-r from-green-600 to-teal-600 text-white font-semibold rounded-lg shadow-lg hover:from-green-500 hover:to-teal-500 transition duration-300 ease-in-out">
        <!-- Plus Icon -->
        <svg class="w-6 h-6 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
        </svg>
        <span class="text-lg">Upload</span>
      </button>
    </div>
  </header>

  <!-- Content for templates -->
  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div *ngFor="let product of displayedProducts" class="bg-white rounded-lg shadow-lg overflow-hidden transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl" (click)="openModal(product)">
        <img [src]="product.imageUrl" [alt]="product.name" class="w-full h-48 object-cover">
        <div class="p-6">
          <h2 class="text-2xl font-semibold text-gray-800 mb-2">{{ product.name }}</h2>
          <p class="text-gray-600 mb-4">{{ product.description }}</p>
          <button (click)="openModal(product)" class="bg-blue-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600 transition duration-300 ease-in-out">View Details</button>
        </div>
      </div>
    </div>

    <!-- Pagination Controls -->
    <div class="flex justify-center mt-6">
      <!-- Previous Page Button -->
      <button (click)="goToPreviousPage()" [disabled]="currentPage === 1" class="px-3 py-1 bg-gray-200 text-gray-700 rounded-l-md border border-gray-300 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out" [class.opacity-50]="currentPage === 1">
        Prev
      </button>
      
      <!-- Page Numbers -->
      <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
        <button (click)="goToPage(i + 1)" 
                [class.bg-blue-500]="currentPage === (i + 1)" 
                [class.text-white]="currentPage === (i + 1)" 
                [class.border]="currentPage !== (i + 1)"
                class="px-3 py-1 border border-gray-300 rounded-md mx-1 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out">
          {{ i + 1 }}
        </button>
      </ng-container>
      
      <!-- Next Page Button -->
      <button (click)="goToNextPage()" [disabled]="currentPage === totalPages" class="px-3 py-1 bg-gray-200 text-gray-700 rounded-r-md border border-gray-300 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out" [class.opacity-50]="currentPage === totalPages">
        Next
      </button>
    </div>
  </div>

  <!-- Product Modal -->
  <app-details [product]="selectedProduct" (close)="closeModal()"></app-details>
</div>
