/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body {
    font-family: 'Arial', sans-serif;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in {
    animation: fadeIn 0.3s ease-out;
  }

 
 
 
  /* body{
    cursor: url('assets/cursor.png'),auto;
  } */


  /* button, a, input, select, textarea{
    cursor: url('assets/pointinghand.png'), auto;
  } */

  
