<div class="min-h-screen bg-black text-white p-8 fade-in">
    <div class="max-w-6xl mx-auto gap-6">
      <h1 class="text-4xl font-extrabold text-gray-100 mb-8 text-center">Explore Our Latest Templates</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-10">
        <div *ngFor="let product of products" class="bg-gray-800 rounded-lg shadow-lg overflow-hidden transform transition-transform duration-300 hover:scale-95 hover:shadow-2xl" (click)="onClickUnready()">
          <img [src]="product.imageUrl" [alt]="product.name" class="w-full h-48 object-cover">
          <div class="p-6">
            <h2 class="text-2xl font-semibold text-gray-300 mb-2">{{ product.name }}</h2>
            <!-- <p class="text-gray-600 mb-4">{{ product.description }}</p> -->
            <a (click)="onClickUnready()" class="bg-blue-800 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-600 transition duration-300 ease-in-out">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-10">
      <a 
        routerLink="/all-template"
        (click)="scrollTop()" 
        class="text-2xl font-semibold text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out flex items-center justify-center">
        See all templates
        <svg class="w-6 h-6 ml-2 text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6l6 6-6 6"></path>
        </svg>
      </a>
    </div>
    
  </div>
  