<div class="min-h-screen bg-black text-white p-8 fade-in mt-4">
  <div class="max-w-6xl mx-auto gap-6">
    <h1 class="text-4xl font-extrabold text-gray-100 mb-8 text-center">Explore our latest portfolios</h1>

    <!-- Loading Spinner -->
    <div *ngIf="loading" class="flex items-center justify-center mb-8">
      <div class="loader"></div>
    </div>

    <!-- Marquee for Products -->
    <div *ngIf="!loading" class="marquee-wrapper mt-10">
      <om-marquee>
        <div class="card" #OmMarqueeContent *ngFor="let product of products" (click)="openModal(product)">
          <img [src]="product.imageUrl" [alt]="product.name" class="w-full h-48 object-cover">
          <div class="p-4">
            <h2 class="text-2xl font-semibold text-gray-300 mb-2 text-center" style="user-select:none;">{{ product.name }}</h2>
          </div>
        </div>
      </om-marquee>

      <om-marquee [reverse]="true">
        <div class="card" #OmMarqueeContent *ngFor="let product of products" (click)="openModal(product)">
          <img [src]="product.imageUrl" [alt]="product.name" class="w-full h-48 object-cover">
          <div class="p-4">
            <h2 class="text-2xl font-semibold text-gray-300 mb-2 text-center" style="user-select:none;">{{ product.name }}</h2>
          </div>
        </div>
      </om-marquee>

      <div class="marquee-gradient left"></div>
      <div class="marquee-gradient right"></div>
    </div>
  </div>

  <!-- "See all" Link -->
  <div class="text-center mt-10">
    <a 
      routerLink="/all-template"
      (click)="scrollTop()" 
      class="text-2xl font-semibold text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out flex items-center justify-center">
      See all 
      <svg class="w-6 h-6 ml-2 text-blue-600 hover:text-blue-800 transition duration-300 ease-in-out" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6l6 6-6 6"></path>
      </svg>
    </a>
  </div>

  <!-- Product Modal -->
  <app-details *ngIf="selectedProduct" [product]="selectedProduct" (close)="closeModal()"></app-details>
</div>
